body {
  margin: 0;
  background-color: blanchedalmond;
  text-align: center;
}

#background_img {
  background-image: url("robot4.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.h1 {
  /* background-color: #333333; */
  padding: 20px;
  color: #ffffff;
  font-size: 22px;
  display: flex;
  align-items: center;
}


a, a:visited, a:hover, a:link {
  /* background-color: black; */
  border: none;
  font-weight: bold;
  color: orange;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 24px;
}

li {
  /* background-color: black; */
  border: none;
  color: aquamarine;
  text-align: left;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}

.header {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  font-size: 22px;
  display: flex;
  align-items: center;
} 

.ul {
  width: 260px;
  align-self: right;
}